<h2 class="headerbox">Signup</h2>

<section class="formbox">
  <form action="/signup" method="POST" id="form-container" enctype="multipart/form-data">

    <div class="passwordinput">
      <label for="fullName">Full Name</label>
      <input id="fullName" type="text" maxlength="19" name="fullName" placeholder="Type Your Fullname here...."  required>
    </div>

    <div class="passwordinput">
      <label for="email">Email</label>
      <input id="email" type="email" name="email" placeholder="Type Your emailadress here...."  required>
    </div>

    <div class="passwordinput">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Type Your password here...."  required>
    </div>

    <div class="commentboxsignup">
      <label for="bio">bio</label>
      <textarea id="bio" name="bio" id="bio" cols="30" rows="10" placeholder="Say something about yourself and your art...." ></textarea>
    </div>

    <div class="passwordinput">
      <label for="usertype">Profile Type</label>
      <select id="usertype" name="usertype" required>
      <option value="user">user</option>
      <option value="artist">artist</option>
      </select>
    </div>

    <div class="uploadpicture">
      <label for="profileImgUrl">Upload profile Image</label>
      <input id="profileImgUrl" type="file" name="profileImgUrl" accept="image/x-png,image/gif,image/jpeg" required>
    </div>


    {{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
    {{/if}}

    

    <div class="commentbtn">
      <button>Create account</button>
    </div>

</section>

<section class="formbox">
  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
  </p>
</section>

</form>