<header class="headerbox">
  <h1>Artwall</h1>
  <p>Welcome to our Online Art Gallery</p>
</header>

<section class="homewall">

  
  {{#each allArtResults}}
  <article>
    <h2>{{this.title}}</h2>
    <p>{{this.description}}</p>
    <div class="artimagehome">
        <img src={{this.imageUrl}} alt="">
    </div>

    <br>

    <a href="/art/{{id}}/details">See Details</a>

  </article>
  {{/each}}
</section>