<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body >
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="/">
    <img alt="logo-img" src="/images/logo-jvb.png" width="70">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item active"><a class="nav-link" href="/art">All Art</a></li>
      <li class="nav-item active"><a class="nav-link" href="/artists">All Artists</a></li>
      {{#if user}}
      <li class="nav-item active"><a class="nav-link" href="/profile">Profile</a></li>
      <li class="nav-item active"><a class="nav-link" href="/create-art">Upload Art</a></li>
      <li class="nav-item active"><a class="nav-link" href="/logout">Logout</a></li>
      {{else}}
      <li class="nav-item active"><a class="nav-link" href="/login">Login</a></li>
      <li class="nav-item active"><a class="nav-link" href="/signup">SignUp</a></li>
      {{/if}}
    </ul>
    </div>
  </nav>

  <main>
    {{{body}}}
  </main>

  <footer>
    <p>Webapp by JvB</p>
  </footer>

  <script src="/javascripts/script.js"></script>
</body>

</html>