<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body >
  <nav class="navbar">
  
  <div class="nav-div">
    <ul class="navbar-nav">
      {{#if user}}
      <div class="links">
        <a href="/">
          <img alt="logo-img" src="/images/logo-jvb.png" width="70">
        </a>
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/art">All Art</a></li>
        <li class="nav-item"><a class="nav-link" href="/artists">All Artists</a></li>
        <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
        <li class="nav-item active"><a class="nav-link" href="/create-art">Upload Art</a></li>
      </div>
      <div class="btn-div">
        <button class="btn" onclick="location.href='/Logout'" type="button">logout</button>
      </div>
      {{else}}
      <div class="links">
        <a href="/">
          <img alt="logo-img" src="/images/logo-jvb.png">
        </a>
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/art">All Art</a></li>
        <li class="nav-item"><a class="nav-link" href="/artists">All Artists</a></li>
      </div>
      <div class="btn-div">
        <button class="btn" onclick="location.href='/login'" type="button">Login</button>
        <button class="btn" onclick="location.href='/signup'" type="button">SignUp</button>
      </div>
      {{/if}}
    </ul>
    </div>
  </nav>

  <main>
    {{{body}}}
  </main>

  <footer>
    <p>Webapp by JvB</p>
  </footer>

  <script src="/javascripts/script.js"></script>
</body>

</html>