<h1>search results</h1>
<section>
    {{#each foundArtArr}}
    <h2> {{this.owner.fullName}} </h2>
    <h2> {{this.title}} </h2>
    <img src="{{this.imageUrl}}" alt="">
    <a href="/art/{{id}}/details">See Details</a>
    {{/each}}
</section>