
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}



.artimage img{
  width: 20%;
}
.artimagebig img{
  width: 70vw;
}



/* layout */
.navbar{
  background-color: black;
  height: 100px; 
}
.navbar a{
  text-decoration: none;
  color: white;
}

.navbar a:hover{
  color: black;
}
.navbar li{
  list-style: none;
  font-size: 1.2em;
  border: white 1px solid;
  border-radius: 5px;
  padding: 5px 10px;
  
}

.navbar li:hover{
  background-color: lightgray;
  
}

.links{
  display: flex;
  align-items: center;
  gap: 15px;
}
.links img{
  width: 100px;
  margin: auto 30px;
  
}
.btn-div{
  margin-right: 50px;

}

.btn {
  background-color: rgba(0, 255, 0, 0.6);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 30px 10px;
  font-size: 1em;
}

.btn:hover{
  background-color: white;
  color: black;
}

.navbar-nav{
  display: flex;
  justify-content: space-between;
}
.footer{
  text-align: center;
  margin-top: 50px;
  color: lightgray;
}

/* allart */

.searchbar{
  text-align: center;
  flex-direction: column;
  display: flex;
  margin-bottom: 40px;
  background-color: lightgray;
  padding: 25px 0;
}

.searchbar label{
  margin-bottom: 20px;
}
.searchfield input{
  padding: 10px 20px;
  min-width: 300px;
}
.searchfield input{
  padding: 10px 20px;
  min-width: 300px;
  border-radius: 5px;
}
.searchfield button{
  padding: 10px 20px;
  min-width: 50px;
  color: white;
  background-color: black;
  border-radius: 5px;
}
.searchfield button:hover{
  color: black;
  background-color: lightgray;
  
}

.titleallart{
  text-align: center;
  margin-top: 30px;
}

/* cardcontainer */

.allartcontainer{
  display: flex;
  justify-content: space-evenly;
  gap:20px;
  flex-wrap: wrap;
  
}
.artcards{
  width: 25vw;
  height: 40vh;
  margin: 30px;
  background-color: rgba(99, 95, 95, 0.8);
  color: white;
  padding: 20px 5px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.artcards h2{
  margin-bottom: 20px;
}

.artimageallart img{
  max-width: 20vw;
  margin-bottom: 30px;
  margin-top: 20px;
  max-height: 24vh;
}
.artcards a{
text-decoration: none;
color: black;
background-color: white;
border-radius: 5px;
padding: 5px 10px;
width: 10vw;

}
.artcards a:hover{
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 5px 10px;
}

.indexhead{
  text-align: center;
  margin-bottom: 40px;
  background-color: lightgray;
  padding: 25px 0;
}
.indexhead p{
  margin-bottom: 30px;
}

.alink{
  text-decoration: none;
  color: black;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  width: 10vw;
}
.alink:hover{
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 5px 10px;
}
.headerbox{
  text-align: center;
  margin: 30px auto;
}
.homeh2{
  text-align: center;
  margin: 30px;
}










/* artdetail */
.signuptext{
  color: red;
  margin: 20px;
  margin-bottom: 40px;
}

.artdetailscontainer{
  text-align: center;
}

.artdetailscontainer h1{
  margin: 30px auto;
}
.commentboxcontainer h3{
  margin-top: 30px;
}
.artdetailsh3{
  margin: 20px;
  color: white;
}

.commentscontainer{
  border: 2px solid green;
  margin: 50px 11%;
  border-radius: 10px;
  
}
.commentbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.passwordinput button{
  width: 100px;
  align-self: center;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 30px 10px;
  font-size: 1em;
}

.commentbtn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 10%;
  gap: 20px;
}
.commentbtn button{
  width: 100px;
  align-self: center;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 30px 10px;
  font-size: 1em;
}

.commentbtn textarea{
  border-radius: 5px;
  padding: 20px;
}

.commentbtn button:hover{
  background-color: white;
  color: black;
  border: 2px solid green;
}
.commentcontainer{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
}
.comments{
  margin: 10px 10%;
  padding: 20px;
  background-color: gray;
  color: white;
  border-radius: 10px;
}
.commenth1{
  margin-top: 30px;
}

.contactartistbtn a{
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 30px 10px;
  font-size: 1em;
  background-color: white;
  color: black;
  border: 2px solid green;
}

.contactartistbtn a:hover{
  text-decoration: none;
  width: 100px;
  align-self: center;
  background-color: green;
  color: white;
  border: none;
  
}
.artdetailscontainer h1{
  color:white;
}
.artdetails-box{
  font-size: 1.2em;
  border: 1px solid green;
  margin: 10px 11%;
  border-radius: 5px;
  background-color: gray;
}
.artdetails{
  color:white;
  margin:10px;
}

/* homepage */



/* login */

#form-container h1{
  text-align: center;
  display: flex;
  flex-direction: column;
  
}

.emailinput{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 20px 30%;
  justify-content: center;
}
.passwordinput{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 20px 30%;
}

.account-message{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}

.account-message a{
  text-align: center;
  text-decoration: none;
  color: black;
  border: 2px solid green;
  border-radius: 5px;
  padding: 10px 10px;  
  margin: 20px 45%;

}

.account-message a:hover{
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: green;
  border-radius: 5px;
  padding: 10px 10px;  
  margin: 20px 45%;
}

/* signup */

.commentboxsignup{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 30%;
}

#bio{
  padding: 10px;
}
.uploadpicture{
  text-align: center;
  display: flex;
  flex-direction: column;
  
}
#profileImgUrl{
  margin: 20px 30%;
  align-self: center;
  padding: 10px 15px;
  background-color: gray;
  border-radius: 5px;
  color: white;
  
}
#profileImgUrl:hover{
  
  background-color: white;
  color: gray;
}
/* emailmssg */
.emailmssg{
  text-align: center;
  margin-top: 20vh;
}

.contactcontainer h1{
  text-align: center;
  margin: 30px;
}

.contactform{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap:20px;
  flex-wrap: wrap;
  flex-flow:wrap-reverse;
}

.contactform button{
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 30px 45%;
  font-size: 1em;
}

/* profile */

.userprofilecard{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  color: white;
  margin: 30px 10%;
  padding: 30px;
  border-radius: 10px;
}

.userprofilecard a{
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: green;
  border-radius: 5px;
  margin: 20px;
  padding: 10px 15px;
}

.userprofilecard a:hover{
  background-color: white;
  border: 3px solid green;
  border: none;
  color: black;
}

.userprofilecard p{
  text-align: center;
  color: white;
  margin: 20px;
  padding-bottom: 30px;
  
}
.profileimage{
  max-width: 24vw;
  max-height: 24vh;
}
.uploadartbutton{
  display: flex;
  justify-content: center;
}
.uploadnewart{
  text-decoration: none;
  color: white;
  background-color: green;
  border-radius: 5px;
  padding: 10px 15px;
  width: auto;
  margin-bottom: 20px;
  border: green 3px solid;
}

.uploadnewart:hover{
  background-color: white;
  border: 3px solid green;
  color: black;
}

.profileArtcontainer{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  gap:20px;
  flex-wrap: wrap;
  flex-flow:wrap-reverse;
}
.profileartcards{
  width: 40vw;
  height: auto;
  margin: 30px;
  background-color: black;
  color: white;
  padding: 20px 5px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artimageprofile{
  max-width: 33vw;
  max-height: 33vh;
  margin-bottom: 30px;
  margin-top: 20px;
}

.profileartcards form{
  display: flex;
  flex-direction: column;
}

.profileartcards a{
  text-decoration: none;
  color: white;
  background-color: green;
  border-radius: 5px;
  padding: 10px 15px;
  width: 10vw;
  margin-bottom: 20px;
  border: green 3px solid;
}
.profileartcards a:hover{
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 5px;
    border: green 3px solid;
    
}
.profileartcards p{
  margin: 30px;
}
.profileartcards button{
  margin: 30px;
  padding: 10px 15px;
  width: 100px;
  font-size: 1.2em;
  border: green 3px solid;
  background-color: white;
  border-radius: 5px;
}
.profileartcards button:hover{
  background-color: red;
}

/* publicprofile */

.userprofilecard h2{
  margin:20px;
}

/* uploadnewart */
.uploadartform{
  text-align: center;
}

#imageUrl{
  margin: 20px 30%;
  align-self: center;
  padding: 10px 15px;
  background-color: black;
  border-radius: 5px;
  color: white;
  
}
#imageUrl:hover{
  
  background-color: white;
  color: black;
}