<article class="picchange">
<form action="/users/{{user.id}}/edit-profile-picture" method="POST" id="form-container" enctype="multipart/form-data">
<div class="uploadpicture">
    <label for="profileImgUrl">Upload profile Image</label>
    <input id="profileImgUrl" type="file" name="profileImgUrl" value="{{user.profileImgUrl}}" accept="image/x-png,image/gif,image/jpeg" required>
  </div>

  <div class="commentbtn">
    <button>Change</button>
  </div>

  </form>

  </article>