<h1 class="headerbox">ArtWall</h1>
<h2 class="headerbox">All Art</h2>


<section class="titleallart">
  <form class="searchbar" action="/search-art" method="GET" name="search">
      <label for="search">Search for Art</label>
      <div class="searchfield">
        <input name="search" type="text" placeholder="Search..">
        <button>Start Search</button>
      </div>
  </form>
</section>

<section class="allartcontainer">
  {{#each art}}
    <article class="artcards">
      <h2>{{title}}</h2>
      <a href="/art/{{id}}/details">See Details</a>
      <div class="artimageallart">
          <img src={{imageUrl}} alt="">
      </div>
    </article>
  {{/each}}
</section>
