<h1> details</h1>


<section>
  <h1>{{artResults.title}}</h1>
  <p>{{artResults.description}}</p>
   <div class="artimage">
        <img src={{artResults.imageUrl}} alt="">
    </div>
  <br>

  

  {{#if user}}
  <div>
    <h3>Add a review:</h3>

    <form action="/art/{{artResults.id}}/add-contact" method="post">
      <textarea name="review" cols="30" rows="10"></textarea>
      <button type="submit">Add contact</button>
    </form>

  </div>
  {{/if}}



</section>