<section>
  <h2>Edit Art</h2>

  <form action="/art/{{artResult.id}}/edit" method="POST" id="form-container">

    <div>
      <label for="name">Art Name</label>
      <input id="name" type="text" name="name" value="{{artResult.name}}">
    </div>

    <div>
      <label for="description">Description</label>
      <textarea id="description" name="description" id="description" cols="30"
        rows="10">{{artResult.description}}</textarea>
    </div>


    <button>Edit Art</button>


  </form>
</section>